/* Variáveis CSS*/
:root {
    /*--o-cor-primaria: rgba(57, 171, 163, 0.69);*/
    --cor-primaria: #a5e9c1;
    --cor-segundaria: #bebebe;
    --o-cor-segundaria: #E8E2E2;
    --o-cor-terciaria: #F1F3E0;
    --o-cor-teste: #0acc5b;
    
}

/* Resete do CSS*/
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos padrões*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-small {
    font-size: 0.9rem;
}

html {
    scroll-behavior: smooth;
}

/* Estilos do Body */
body {
    display: grid;
    grid-template-rows: 2% 1fr 2%;
    font-size: 1rem;
    height: 100%;
}

/*Estilos do Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 0px 5px var(--cor-segundaria);
    z-index: 1000;
}

header p a {
    font-family: "Asimovian", sans-serif; /*cursive*/
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--o-cor-teste);
    text-decoration: none;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;  
    height: 100%;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    font-family: "Asimovian", sans-serif; /*cursive*/
    height: 100%;
    text-decoration: none;
    color: #504d4d;
    padding: 10px;
}

nav ul li a:hover {
    transition: 0.4s;
    color: var(--o-cor-teste);
    transform: scale(1.1);
}

/*Esilos do main*/
main {
    display: grid;
    grid-template-rows: 23% 1fr 1fr 1fr;
}

section {
    padding: 20px;
}

section h2 {
    font-family: "Asimovian", sans-serif; /*cursive*/
    font-size: 1.8rem;
    color: #504d4d;
    margin-bottom: 20px;
}

/*
#intro{
background: #4d966b;
background: linear-gradient(0deg,rgba(77, 150, 107, 1) 0%, rgba(113, 209, 153, 1) 50%, rgba(130, 255, 182, 1) 100%);
box-shadow: 0px 3px 10px #4d966b;
}
*/
#intro {
    scroll-margin-top: 50px;
    background-image: linear-gradient(to bottom, var(--cor-primaria), transparent 100%);
}

#intro .content {
    gap: 40px;
}

#intro h1 {
    font-size: 2.5rem;
    color: #504d4d;
    text-align: center;
}

#intro h1 span {
    font-family: "Asimovian", sans-serif; /*cursive*/
    color: var(--o-cor-teste);
}

#intro p {
    font-size: 0.8rem;
    color: #504d4d;
    text-align: center;
}

#intro .boas-vindas {
    font-size: 1.2rem;
    font-weight: bold;
    color: #504d4d;
    text-align: center;
}

#intro .button {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: var(--o-cor-teste);
    box-shadow: 1px 1px 5px #026b2e;
    border-radius: 5px;
    cursor: pointer;
}

#intro .button:hover {
    transition: 0.7s;
    background-color: #026b2e;
    box-shadow: 0px 3px 10px #026b2e;
    transform: translateY(3px) scale(1.1);
}

#sobre{
    display: grid;
    gap: 15px;
    /*background-color: var(--o-cor-segundaria);*/
    scroll-margin-top: 50px;
    background-image: linear-gradient(to top, var(--cor-segundaria), transparent 10%);
}

#sobre img {
    width: 30%;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #504d4d;
    object-fit: cover;
}

#sobre div div{
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    border: 2px solid var(--cor-primaria);
}

#sobre div p{
    text-align: justify;
    color: #504d4d;
}

#habilidades {
    display: grid;
    gap: 20px;
    background-color: #bebebe;
}

#habilidades ul {
    display: grid;
    justify-items: center;
    list-style: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

#habilidades ul li {
    display: flex;
    width: 70%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 2px 2px 10px #504d4d;
}

#habilidades ul li:hover {
    transition: 0.4s;
    transform: translateY(-5px);
}

#habilidades ul li p {
    color: #504d4d;
}

#habilidades ul li > p {
    text-align: justify;
}

#contato {
    scroll-margin-top: 50px;
}

/*Estilos do Footer*/
footer {
    position: relative;
    bottom: 0%;
    background-color: var(--cor-segundaria);
    box-shadow: 0px 0px 3px #504d4d;
}
